<div class="container">


    <div class="row">
        <div class="col-lg-12">
            <h5 class="text-info">Available Books</h5>
        </div>

    </div>

    <div ng-click="$ctrl.addRequest(book.title,book.ownerId,book._id)" style="margin:1% 0px !important;display:inline-flex !important; margin:10px 10px !important;word-wrap: break-word !important;" class="text-xs-center" ng-repeat="book in $ctrl.allusersbooks">
        <div class="img-thumbnail">
            <img ng-src="{{book.image}}" alt="" class="center-block img-fluid" />

            <div class="caption">
                <h6 class="" style=""></h6>
            </div>
        </div>

    </div>



</div>